@model EasyFest.Models.User

@{ 
    bool hasModel = !string.IsNullOrEmpty(Model.Username);
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">EasyFest</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                @*<li class="nav-item navBarAction">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>*@
                <li class="nav-item navBarAction">
                    <a class="nav-link" asp-area="" asp-controller="Festival" asp-action="FestivalMap">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-map" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98 4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z" />
                            </svg>
                            <strong>
                                Festival maps
                            </strong>
                        </div>
                    </a>
                </li>
                @if (!hasModel)
                {
                    TempData.Remove("loggedInUser");
                    TempData.Add("loggedInUser", false);
                    TempData.Remove("IsAdmin");
                    TempData.Add("IsAdmin", false);
                    <li class="nav-item navBarAction">
                        <a class="nav-link" asp-area="" asp-controller="User" asp-action="Register">Register</a>
                    </li>
                    <li class="nav-item navBarAction">
                        <a class="nav-link" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                    </li>
                }
                else
                {
                    TempData.Remove("loggedInUser");
                    TempData.Add("loggedInUser", true);
                    @Html.Hidden("LoggedUserId", Model.Id);
                    @Html.Hidden("LoggedUsername", Model.Username);
                    <li class="nav-item navBarAction">
                        <a class="nav-link" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
                    </li>
                    @*<li class="nav-item navBarAction">
                        <a class="nav-link" asp-area="" asp-controller="User" asp-action="MyProfile" asp-route-userId="@Model.Id"><div style="font-weight: 600;"><i class="glyphicon glyphicon-user"></i> @Model.Username</div></a>
                    </li>*@
                    if (Model.IsAdmin)
                    {
                        TempData.Remove("IsAdmin");
                        TempData.Add("IsAdmin", true);
                        <li class="nav-item navBarAction">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Settings">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
                                        <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z" />
                                        <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z" />
                                    </svg>
                                    <strong>Settings</strong>
                                </div>
                            </a>
                        </li>

                    }
                    else
                    {
                        TempData.Remove("IsAdmin");
                        TempData.Add("IsAdmin", false);
                    }
                }
            </ul>
            @if (hasModel)
            {
                <div class="nav-item navBarAction float-md-right float-lg-right">
                    <a style="color:rgb(255, 255, 255)" class="nav-link" asp-area="" asp-controller="User" asp-action="MyProfile" asp-route-userId="@Model.Id"><div class="pt-lg-2 pt-md-2" style="font-weight: 600;"><i class="glyphicon glyphicon-user"></i> @Model.Username</div></a>
                </div>
            }
        </div>
    </div>
</nav>