@model ResponseData<FestivalPaginate>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isAdmin = false;
    if (TempData["IsAdmin"] != null)
    {
        isAdmin = (bool)TempData["IsAdmin"];
    }
    string searchData = string.Empty;
    if (TempData["searchValue"] != null)
    {
        searchData = TempData["searchValue"].ToString();
    }
}

@if (!Model.Data.FestivalNodes.FestivalEdges.Any())
{
    <h3>We are sorry!</h3>
    <p>We could not find specified festival.</p>
}
else
{
    @Html.Hidden("lastCursor", Model.Data.FestivalNodes.FestivalEdges.LastOrDefault().CursorName)
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-md-10">
                <h1 class="my-4" style="font-size:2.5rem !important">
                    Find the best festival
                    <small>it's easy!</small>
                </h1>
            </div>
            @await Component.InvokeAsync("NewFestivalBtn")
        </div>
        <div class="row">
            <div class="mb-4 col-12">
                <form id="searchForm" asp-action="Search" asp-controller="Home" method="post" autocomplete="off">
                    <div class="input-group" style="width:100%; display:flex; justify-content: center;">
                        <input id="term" name="term" style="width:45%;" class="form-control searchInput" type="text" value="@searchData" />
                        <div class="input-group-append">
                            <button id="searchButton" class="btn btn-outline-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                        @*<button type="button"><i class="glyphicon glyphicon-search"></i></button>*@
                    </div>
                </form>
            </div>
        </div>
        <div id="festivalsContainer" class="row">
            @foreach (var data in Model.Data.FestivalNodes.FestivalEdges)
            {
                int imageCounter = 0;
                <div class="col-lg-6 mb-4">
                    <div class="card h-100 festivalFader">
                        @*@if (string.IsNullOrEmpty(data.Festival.Images[0]))
                        {
                            <a href="#"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt=""></a>
                        }
                        else
                        {
                            <a href="@Url.Action("FestivalDetails", "Festival", new { festivalId = data.Festival.Id })"><img class="card-img-top" src='@Url.Action("Image", "Home", new { imageName = data.Festival.Images[0] })' alt=""></a>
                        }*@
                        
                        <div id="carouselFestivalList" class="carousel slide" data-ride="carousel">
                            @*<ol class="carousel-indicators">
                                @foreach (var image in data.Festival.Images)
                                {
                                    if (imageCounter == 0)
                                    {
                                    <li data-target="#carouselFestivalList" data-slide-to="0" class="active"></li>
                                    }
                                    else
                                    {
                                    <li data-target="#carouselFestivalList" data-slide-to="@imageCounter"></li>
                                    }
                                    imageCounter++;
                                }
                            </ol>*@
                            <div class="carousel-inner">
                                @{ imageCounter = 0;}
                                @foreach (var image in data.Festival.Images)
                                {
                                    if (imageCounter == 0)
                                    {
                                        <div class="carousel-item active">
                                            <a href="@Url.Action("FestivalDetails", "Festival", new { festivalId = data.Festival.Id })"><img src='@Url.Action("Image", "Home", new { imageName = image })' class="d-block w-100" alt="..."></a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="carousel-item">
                                            <a href="@Url.Action("FestivalDetails", "Festival", new { festivalId = data.Festival.Id })"><img src='@Url.Action("Image", "Home", new { imageName = image })' class="d-block w-100" alt="..."></a>
                                        </div>
                                    }
                                    imageCounter++;
                                }
                            </div>
                            @*@if (data.Festival.Images.Count > 1)
                            {
                                <a class="carousel-control-prev" href="#carouselFestivalList" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselFestivalList" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            }*@
                        </div>                        
                        <div class="card-body festInfoContainer">
                            <div style="width: 100%;">
                                <h4 class="card-title" style="float:left; width:80%;">
                                    <a href="@Url.Action("FestivalDetails", "Festival", new { festivalId = data.Festival.Id })">@data.Festival.Name</a>
                                </h4>
                                <div style="float:right; width:auto;">
                                    @*<i class="glyphicon glyphicon-star"><span>@data.Festival.Rate</span></i>*@
                                    @*<i class="glyphicon glyphicon-comment"><span>@data.Festival.NumberOfComments</span></i>*@
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-dots" viewBox="0 0 16 16">
                                            <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                            <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                                        </svg>
                                        <strong>@data.Festival.NumberOfComments</strong>
                                    </div>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                        </svg>
                                        <strong>@data.Festival.Rate</strong>
                                    </div>
                                </div>
                            </div>
                            <div style="float:left;">
                                <p class="card-text">
                                    @data.Festival.Description
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (Model.Data.FestivalNodes.InfoPage.HasNextPage)
        {
            <div class="row" id="loadMoreFestsContainer">
                <div class="col-12" style="display:flex; justify-content:center;">
                    <button type="button" onclick="getMoreFestivals()" title="Load more!" style="border-radius: 25px;" class="btn btn-primary">
                        <i class="glyphicon glyphicon-plus"></i>
                        Load more
                    </button>
                </div>
            </div>
        }
        <!-- /.row -->
        <!-- Pagination -->
        @*<ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>*@

    </div>
}
@*    <div>
        @Html.ActionLink("Login", "Login", "User")
    </div>*@

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Home.js"></script>
