@model ResponseData<FestivalList>
@{
    ViewData["Title"] = "Festival map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Festival map</h1>

<div class="container-fluid">
    @if (Model.Errors != null)
    {
        <h3>We are sorry!</h3>
        <p>An error occured while trying to load data about festivals.</p>
        <p>@Model.Errors[0].Message</p>
    }
    else
    {
        <div class="col-md-11 float-left">
            <div id="allMap" class="allMapContainer"></div>
        </div>

        int festivalLocations = 0;
        int imageCounterPerFest = 0;
        foreach(var fest in Model.Data.Festivals)
        {
            if (fest.Longitude != 0 && fest.Latitude != 0)
            {
                imageCounterPerFest = 0;
                @Html.Hidden("festLocId" + festivalLocations.ToString(), fest.Id);
                @Html.Hidden("festLocName" + festivalLocations.ToString(), fest.Name);
                @Html.Hidden("festLocRate" + festivalLocations.ToString(), fest.Rate);
                @Html.Hidden("festLocLat" + festivalLocations.ToString(), fest.Latitude);
                @Html.Hidden("festLocLon" + festivalLocations.ToString(), fest.Longitude);
                foreach(var image in fest.Images)
                {
                    @Html.Hidden("fest_" + festivalLocations + "_img_" + imageCounterPerFest, image);
                    imageCounterPerFest++;
                }
                @Html.Hidden("fest_" + festivalLocations + "_imgCount", imageCounterPerFest);
                festivalLocations++;
            }
        }
        @Html.Hidden("FesLocNum", festivalLocations);
    }
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/FestivalMap.js"></script>