@model ResponseData<FestivalById>

@{
    ViewData["Title"] = "FestivalDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool loggedIn = (bool)TempData["loggedInUser"];
    bool isAdmin = (bool)TempData["IsAdmin"];
    string dynamicDisabled = loggedIn ? string.Empty : "disabled";
    string monthName = new DateTime(2021, Model.Data.Festival.Month, 1).ToString("MMMM");
    string monthNameEnd = new DateTime(2021, Model.Data.Festival.EndMonth, 1).ToString("MMMM");
    int imageCounter = 0;
}
    @*@Html.Hidden("RatedByUser", Model.Data.Festival.RateByCurrentUser)*@
    @Html.Hidden("FestivalId", Model.Data.Festival.Id)
    <div class="container">
        <div class="row text-center">
            <div class="col-10 ml-5">
                <div id="carouselFestival" class="carousel slide" data-ride="carousel">
                    @if (Model.Data.Festival.Images.Count > 1)
                    {
                        <ol class="carousel-indicators">
                            @foreach (var image in Model.Data.Festival.Images)
                            {
                                if (imageCounter == 0)
                                {
                                    <li data-target="#carouselFestival" data-slide-to="0" class="active"></li>
                                }
                                else
                                {
                                    <li data-target="#carouselFestival" data-slide-to="@imageCounter"></li>
                                }

                                imageCounter++;
                            }
                        </ol>
                    }
                    <div class="carousel-inner">
                        @{ imageCounter = 0; }
                        @foreach (var image in Model.Data.Festival.Images)
                        {
                            if (imageCounter == 0)
                            {
                                <div class="carousel-item active">
                                    <img class="d-block img-details-custom" src='@Url.Action("Image", "Home", new { imageName = image })' alt="Image">
                                </div>
                            }
                            else
                            {
                                <div class="carousel-item">
                                    <img class="d-block img-details-custom" src='@Url.Action("Image", "Home", new { imageName = image })' alt="Image">
                                </div>
                            }
                            imageCounter++;
                        }
                        @*<div class="carousel-item">
                    <img class="d-block w-100" src="..." alt="Third slide">
                </div>*@
                    </div>
                    @if (Model.Data.Festival.Images.Count > 1)
                    {
                        <a class="carousel-control-prev" href="#carouselFestival" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselFestival" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 tagsContainer">
                @foreach (var tag in Model.Data.Festival.Tags)
                {
                <div class="btn mt-1" style="background-color:@tag.Color;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tag" viewBox="0 0 16 16">
                        <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z" />
                        <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z" />
                    </svg>
                    @tag.Name
                </div>
                }
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-7">
                <h1 style="font-size: 2.5rem !important;">@Model.Data.Festival.Name<small>, starts @monthName @Model.Data.Festival.Day ends @monthNameEnd @Model.Data.Festival.EndDay</small></h1>
                <div class="descriptionContainer">
                    <p>@Model.Data.Festival.Description</p>
                </div>
            </div>
            <div class="col-md-3">
                <svg style="background-color: white; margin-left: 20px;" class="progress blue noselect" x="0px" y="0px" viewBox="0 0 80 80">
                    <path class="track" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
                    <path class="fill" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
                    <text style="font-size:10px; fill: black;" class="value" x="50%" y="55%"></text>
                </svg>
                <fieldset class="rating" @dynamicDisabled>
                    <input class="ratingStar" type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                    <input class="ratingStar" type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                    <input class="ratingStar" type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                    <input class="ratingStar" type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                    <input class="ratingStar" type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                    <input class="ratingStar" type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                    <input class="ratingStar" type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                    <input class="ratingStar" type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                    <input class="ratingStar" type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                    <input class="ratingStar" type="radio" id="starhalf" name="rating" value="0.5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                </fieldset>
            </div>
            @if (isAdmin)
            {
                <div class="col-md-2">
                    <button type="button" onclick="updateFestival()" class="btn btn-outline-info">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                        </svg>
                        Update festival
                    </button>
                @*</div>
                <div class="col-md-1">*@
                <button type="button" onclick="deleteFestival()" class="btn btn-outline-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg>
                    Delete festival
                </button>
                </div>
            }
        </div>

        @Html.Hidden("FestivalName", Model.Data.Festival.Name)
        @Html.Hidden("FestivalRate", Model.Data.Festival.Rate)
        @if (Model.Data.Festival.Latitude != 0 && Model.Data.Festival.Longitude != 0)
        {
            <div class="col-md-6 float-left">
                @*<h3>Festival location</h3>*@
                <div id="map" class="mapContainer"></div>
            </div>
            @Html.Hidden("Latitude", Model.Data.Festival.Latitude)
            @Html.Hidden("Longitude", Model.Data.Festival.Longitude)
        }
        else
        {
            <div class="col-md-6 float-left">The location for festival has not yet been set.</div>
        }

        <div class="col-md-6 float-right">
            <div class="actionBox" @*style="max-height: 400px; overflow-y: auto;"*@>
                <ul id="commentListUl" class="commentList">
                    @if (Model.Data.Festival.Comments.Count > 0)
                    {
                        @foreach (var comment in Model.Data.Festival.Comments)
                        {
                            <li>
                                <div class="commenterImage">
                                    <img src='@Url.Action("ProfileImage", "Home", new { imageName = comment.User.ImageId })' />
                                    <span class="sub-text">@comment.User.Username</span>
                                </div>
                                <div class="commentText">
                                    <p class="">@comment.CommentBody</p> <span class="date sub-text">@comment.CreatedOn.ToString("dddd, dd MMMM yyyy")</span>
                                </div>
                            </li>
                        }
                    }
                    else
                    {
                        <li>
                            <p>There are no comments yet!</p>
                        </li>
                    }
                </ul>
                @if (loggedIn)
                {
                    <form class="form-inline" role="form" >
                        <div class="form-group">
                            <input id="newCommentText" class="form-control" type="text" placeholder="Your comment" />
                        </div>
                        <div class="form-group">
                            <button type="button" id="addNewComment" class="btn btn-outline-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-dots" viewBox="0 0 16 16">
                                    <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                    <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                                </svg>
                            </button>
                        </div>
                        <span id="newCommentValidation" style="display:none;" class="text-danger">Comment body can not be emtpy!</span>
                    </form>
                }
                else
                {
                    <p>You must be logged in to leave comments!</p>
                }
            </div>
        </div>
    </div>

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p style="margin-top:5px; font-size:20px;" id="errorMessageModal">Are you sure you want to delete this festival and all related data?</p>
            <div style="width:100%;">
                <button id="btnNo" type="button" class="btn btn-info">No</button>
                <button id="btnYes" type="button" class="btn btn-danger float-right">Yes</button>
            </div>
        </div>

    </div>

    <div id="myErrorModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <img src="~/modalError.png" alt="Error" style="width:50px; height:50px; margin-left:42%;" />
            <p style="margin-top:30px; text-align:center; font-size:20px;" id="errorMessageModalError"></p>
        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Festival.js"></script>