@model ResponseData<FestivalById>

@{
    ViewData["Title"] = "FestivalDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool loggedIn = (bool)TempData["loggedInUser"];
    string dynamicDisabled = loggedIn ? string.Empty : "disabled";
}
    @*@Html.Hidden("RatedByUser", Model.Data.Festival.RateByCurrentUser)*@
    @Html.Hidden("FestivalId", Model.Data.Festival.Id)
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>@Model.Data.Festival.Name</h1>
                <div class="descriptionContainer">
                    <p>@Model.Data.Festival.Description</p>
                </div>
            </div>
            <div class="col-md-4">
                <svg style="background-color: white; margin-left: 20px;" class="progress blue noselect" x="0px" y="0px" viewBox="0 0 80 80">
                    <path class="track" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
                    <path class="fill" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
                    <text style="font-size:10px; fill: black;" class="value" x="50%" y="55%"></text>
                </svg>
                <fieldset class="rating" @dynamicDisabled>
                    <input class="ratingStar" type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                    <input class="ratingStar" type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                    <input class="ratingStar" type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                    <input class="ratingStar" type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                    <input class="ratingStar" type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                    <input class="ratingStar" type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                    <input class="ratingStar" type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                    <input class="ratingStar" type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                    <input class="ratingStar" type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                    <input class="ratingStar" type="radio" id="starhalf" name="rating" value="0.5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                </fieldset>
            </div>
        </div>

        @Html.Hidden("FestivalName", Model.Data.Festival.Name)
        @Html.Hidden("FestivalRate", Model.Data.Festival.Rate)
        @if (Model.Data.Festival.FestivalLocation != null)
        {
            <div class="col-md-6 float-left">
                @*<h3>Festival location</h3>*@
                <div id="map" class="mapContainer"></div>
            </div>
            @Html.Hidden("Latitude", Model.Data.Festival.FestivalLocation.Latitude)
            @Html.Hidden("Longitude", Model.Data.Festival.FestivalLocation.Longitude)
        }
        else
        {
            <div class="col-md-6 float-left">The location for festival has not yet been set.</div>
        }

        <div class="col-md-6 float-right">
            @*<h3>Comments</h3>
            <div id="comments" class="commentsContainer">
                @foreach (var comment in Model.Data.Festival.Comments)
                {
                    <div id="commentBody" class="commentContainer">
                        <strong>@comment.User.Username</strong>
                        <p>@comment.CommentBody</p>
                    </div>
                }
            </div>
            <button class="newCommentBtn" id="myBtn">Add comment</button>*@
            <div class="actionBox" @*style="max-height: 400px; overflow-y: auto;"*@>
                <ul id="commentListUl" class="commentList">
                    @if (Model.Data.Festival.Comments.Count > 0)
                    {
                        @foreach (var comment in Model.Data.Festival.Comments)
                        {
                            <li>
                                <div class="commenterImage">
                                    <img src="https://placekitten.com/50/50" />
                                    <span class="sub-text">@comment.User.Username</span>
                                </div>
                                <div class="commentText">
                                    <p class="">@comment.CommentBody</p> <span class="date sub-text">@comment.CreatedOn.ToString("dddd, dd MMMM yyyy")</span>
                                </div>
                            </li>
                        }
                    }
                    else
                    {
                        <li>
                            <p>There are no comments yet!</p>
                        </li>
                    }
                </ul>
                @if (loggedIn)
                {
                    <form class="form-inline" role="form" >
                        <div class="form-group">
                            <input id="newCommentText" class="form-control" type="text" placeholder="Your comment" />
                        </div>
                        <div class="form-group">
                            <button type="button" id="addNewComment" class="btn btn-default">Add</button>
                        </div>
                        <span id="newCommentValidation" style="display:none;" class="text-danger">Comment body can not be emtpy!</span>
                    </form>
                }
                else
                {
                    <p>You must be logged in to leave comments!</p>
                }
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Festival.js"></script>