@model ResponseData<UserById>

@{
    ViewData["Title"] = "My profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My profile</h1>

@if (Model.Errors != null)
{
    <div class="container-fluid">
        <h3>We are sorry!</h3>
        <p>An error occured while trying to load data about your profile.</p>
        <p>@Model.Errors[0].Message</p>
    </div>
}
else
{
    var userModel = Model.Data.User;
    <div class="container-fluid">
        <div class="row">
            <div class="profileImage col-md-4 col-lg-4">
                <img src="https://placekitten.com/150/150" />
                @*<span class="sub-text">@comment.User.Username</span>*@
            </div>
            <div class="col-md-8 col-lg-8">
                <div class="form-control">
                    <label>Username:</label>
                    <span>@userModel.Username</span>
                </div>
                <div class="form-control">
                    <label>Email address:</label>
                    <span>@userModel.Email</span>
                </div>
                <div class="form-control">
                    <label>Comments posted:</label>
                    <span>@userModel.CommentsPostedByUser</span>
                </div>
                <div class="form-control">
                    <label>Rates given:</label>
                    <span>@userModel.RatesGivenByUser</span>
                </div>
            </div>
        </div>
    </div>

    <button type="button" onclick="deleteAccount('@userModel.Id')" class="btn btn-danger mt-2">Delete account</button>

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p style="margin-top:5px; font-size:20px;" id="errorMessageModal">Are you sure you want to delete your profile?</p>
            <div style="width:100%;">
                <button id="btnNo" type="button" class="btn btn-info">No</button>
                <button id="btnYes" type="button" class="btn btn-danger float-right">Yes</button>
            </div>
        </div>

    </div>
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/MyProfile.js"></script>