@model ResponseData<UserById>

@{
    ViewData["Title"] = "My profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My profile</h1>

@if (Model.Errors != null)
{
    <div class="container-fluid">
        <h3>We are sorry!</h3>
        <p>An error occured while trying to load data about your profile.</p>
        <p>@Model.Errors[0].Message</p>
    </div>
}
else
{
    @Html.Hidden("imageGuid", Model.Data.User.ImageId)
    var userModel = Model.Data.User;
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-md-12 col-lg-12 float-right">
                <button type="button" style="float:right;" onclick="deleteAccount('@userModel.Id')" class="btn btn-outline-danger mt-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg>
                    Delete account
                </button>
            </div>
        </div>
        <div class="row">
            <div class="profileImage col-md-4 col-lg-4">
                <img id="profileImgContainer" class="profileImageImg" src='@Url.Action("ProfileImage", "Home", new { imageName = userModel.ImageId })' />
                <div class="editProfileImg">
                    <div id="editImgBtn" class="textEditProfileImg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                        </svg>
                        Change
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-8">
                <div class="form-control">
                    <label>Username:</label>
                    <span>@userModel.Username</span>
                </div>
                <div class="form-control">
                    <label>Email address:</label>
                    <span>@userModel.Email</span>
                </div>
                <div class="form-control">
                    <label>Comments posted:</label>
                    <span>@userModel.CommentsPostedByUser</span>
                </div>
                <div class="form-control">
                    <label>Rates given:</label>
                    <span>@userModel.RatesGivenByUser</span>
                </div>
            </div>
        </div>
    </div>

    <form>
        <input id="file-input" type="file" name="name" accept=".jpg" style="display: none;" />
    </form>

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p style="margin-top:5px; font-size:20px;" id="errorMessageModal">Are you sure you want to delete your profile?</p>
            <div style="width:100%;">
                <button id="btnNo" type="button" class="btn btn-info">No</button>
                <button id="btnYes" type="button" class="btn btn-danger float-right">Yes</button>
            </div>
        </div>

    </div>
    <div id="myErrorModal" class="modal">

        <!-- Modal error content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p style="margin-top:5px; font-size:20px;" id="errorMessageModal">We are sorry, but an error happened while editing your profile image.</p>
            <div style="width:100%;">
                <button id="btnOk" type="button" class="btn btn-danger float-right">Ok</button>
            </div>
        </div>
    </div>
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/MyProfile.js"></script>