@model ResponseData<UserById>

@{
    ViewData["Title"] = "My profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My profile</h1>

@if (Model.Errors != null)
{
    <div class="container-fluid">
        <h3>We are sorry!</h3>
        <p>An error occured while trying to load data about your profile.</p>
        <p>@Model.Errors[0].Message</p>
    </div>
}
else
{
    @Html.Hidden("imageGuid", Model.Data.User.ImageId)
    var userModel = Model.Data.User;
    <div class="container-fluid">
        <div class="row">
            <div class="profileImage col-md-4 col-lg-4">
                <img id="profileImgContainer" class="profileImageImg" src='@Url.Action("ProfileImage", "Home", new { imageName = userModel.ImageId })' />
                <div class="editProfileImg">
                    <div id="editImgBtn" class="textEditProfileImg"><i class="glyphicon glyphicon-pencil"></i>Change</div>
                </div>
            </div>
            <div class="col-md-8 col-lg-8">
                <button type="button" style="float:right;" onclick="deleteAccount('@userModel.Id')" class="btn btn-outline-danger mt-2">Delete account</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-lg-5">
                <div class="form-control">
                    <label>Username:</label>
                    <span>@userModel.Username</span>
                </div>
                <div class="form-control">
                    <label>Email address:</label>
                    <span>@userModel.Email</span>
                </div>
                <div class="form-control">
                    <label>Comments posted:</label>
                    <span>@userModel.CommentsPostedByUser</span>
                </div>
                <div class="form-control">
                    <label>Rates given:</label>
                    <span>@userModel.RatesGivenByUser</span>
                </div>
            </div>
        </div>
    </div>

    <form>
        <input id="file-input" type="file" name="name" accept=".jpg" style="display: none;" />
    </form>

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p style="margin-top:5px; font-size:20px;" id="errorMessageModal">Are you sure you want to delete your profile?</p>
            <div style="width:100%;">
                <button id="btnNo" type="button" class="btn btn-info">No</button>
                <button id="btnYes" type="button" class="btn btn-danger float-right">Yes</button>
            </div>
        </div>

    </div>
    <div id="myErrorModal" class="modal">

        <!-- Modal error content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p style="margin-top:5px; font-size:20px;" id="errorMessageModal">We are sorry, but an error happened while editing your profile image.</p>
            <div style="width:100%;">
                <button id="btnOk" type="button" class="btn btn-danger float-right">Ok</button>
            </div>
        </div>
    </div>
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/MyProfile.js"></script>